# Project Ebay

The aim of this project is to clean the data and analyze the lists of used cars included. You will also learn about some of the unique benefits that the jupyter notebook offers to pandas.

Let's start by importing the libraries we need and reading the dataset into pandas.

#### Part 1

### Import the pandas and Numpy librairie

In [351]:
import numpy as np
import pandas as pd 
import math

Try without specifying any encoding (which will default to UTF-8)
If you get an encoding error, try the next two most popular encodings (Latin-1 and Windows-1252) until you are able to read the file without error.

In [352]:
autos = pd.read_csv("autos.csv" , encoding = "Latin-1")
autos.index.name = None
autos_type = type(autos)
autos_shape = autos.shape
#print(autos)

In [353]:
autos_head = autos.head(6)
autos_tail = autos.tail(8)
#print(autos_head)
#print(autos_tail)

In [354]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Create a new cell with just the variable autos and run this cell.
A neat feature of jupyter notebook is its ability to render the first few and last few values of any pandas object.

In [355]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

Use the DataFrame.info() and DataFrame.head() methods to print information about the autos dataframe, as well as the first few rows.

In [356]:
print(autos.head())

           dateCrawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...

   seller offerType   price   abtest vehicleType  yearOfRegistration  \
0  privat   Angebot  $5,000  control         bus                2004
1  privat   Angebot  $8,500  control   limousine                1997
2  privat   Angebot  $8,990     test   limousine                2009
3  privat   Angebot  $4,350  control  kleinwagen                2007
4  privat   Angebot  $1,350     test       kombi                2003

     gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0    manuell      158  andere  150,000km                    3      lpg
1  automatik      286     7er  150,000km                    6   benzin
2    manuell      102    golf   70,000km                    7   benzin
3  automatik       71  fortwo   70,000km                    6   benzin
4    manuell        0   focus  150,000km                    7   benzin

        brand notRepairedDamage          dateCreated  nrOfPictures  \
0     peugeot              nein  2016-03-26 00:00:00             0
1         bmw              nein  2016-04-04 00:00:00             0
2  volkswagen              nein  2016-03-26 00:00:00             0
3       smart              nein  2016-03-12 00:00:00             0
4        ford              nein  2016-04-01 00:00:00             0

   postalCode             lastSeen
0       79588  2016-04-06 06:45:54
1       71034  2016-04-06 14:45:08
2       35394  2016-04-06 20:15:37
3       33729  2016-03-15 03:16:28
4       39218  2016-04-01 14:38:50

Write a markdown cell briefly describing your observations.

The table is not very readable and the information is not understandable.
There will be a lot of data cleaning to be done .There are spelling mistakes.
The dataset contains 20 columns, most of which are strings.
Some columns have null values, but none have more than ~20% null values.
The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

### Part 2

Use the DataFrame.columns attribute to print an array of the existing column names.

Copy that array and make the following edits to columns names:

yearOfRegistration to registration_year
monthOfRegistration to registration_month
notRepairedDamage to unrepaired_damage
dateCreated to ad_created

The rest of the column names from camelcase to snakecase.

In [357]:
new_columns = []
for c in autos.columns:
    clean_c=c.strip()
    new_columns.append(clean_c)
    
autos.columns = new_columns

In [358]:
def clean_col(col):
    col = col.strip('')
    col = col.replace('yearOfRegistration' , 'registration_year')
    col = col.replace('monthOfRegistration' , 'registration_month')
    col = col.replace('notRepairedDamage' , 'unrepaired_damage')
    col = col.replace('dateCreated' , 'ad_created')
    col = col.replace('dateCrawled' , 'date_crawled')
    col = col.replace('lastSeen' , 'last_seen')
    col = col.replace('offerType' , 'offer_type')
    
   
   
    return col

new_columns = []
for c in autos.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)

autos.columns = new_columns
print(new_columns)

['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model', 'odometer', 'registration_month', 'fuelType', 'brand', 'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode', 'last_seen']

Use DataFrame.head() to look at the current state of the autos dataframe.

Use DataFrame.describe() to look at descriptive statistics for all columns.

In [359]:
autos.describe()

,registration_year,powerPS,registration_month,nrOfPictures,postalCode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

Write a markdown cell noting:
* Any columns that have mostly one value that are candidates to be dropped
* Any columns that need more investigation.
* Any examples of numeric data stored as text that needs to be cleaned.

#### Columns that have mostly one value that are candidates to be dropped:

 *  dateCrawled
 *  nrOfPictures
 *  seller
 *  lastSeen
 *  seller
 *  offerType
 *

#### Columns that need more investigation:

* vehicleType 
* price
* fuelType
* brand
* unrepaired_damage
* registration_month
* name
* ad_created
* odometer

#### Examples of numeric data stored as text that needs to be cleaned.

*  Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...
*  manuell

#### The price and odometer columns are numeric values stored as text.
* Remove any non-numeric characters.
* Convert the column to a numeric dtype.
* Use DataFrame.rename() to rename the column to odometer_km.

Remove any non-numeric characters

In [360]:
for i in autos.columns:
    print(i)

date_crawled
name
seller
offer_type
price
abtest
vehicleType
registration_year
gearbox
powerPS
model
odometer
registration_month
fuelType
brand
unrepaired_damage
ad_created
nrOfPictures
postalCode
last_seen

In [361]:
autos.loc[autos['offer_type'] == 'Angebot', 'offer_type'].shape

(49999,)

In [362]:
autos['offer_type'].unique()

array(['Angebot', 'Gesuch'], dtype=object)

In [363]:
autos['seller'].unique()

array(['privat', 'gewerblich'], dtype=object)

In [364]:
autos.loc[autos['seller']=='privat', 'seller'].shape

(49999,)

In [365]:
autos['gearbox'].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [385]:
autos['price'] = autos['price'].str.replace('$' , '').str.replace(',', ' ') .astype(float, errors = 'raise') 
autos["price"].value_counts(dropna=False)
autos["price"].dtypes
print(autos['price'])
print(autos['price'].unique().shape)

ValueError: could not convert string to float: '5 000'

In [367]:
unique_price = autos['price'].unique().shape
print(unique_price)

(2357,)

In [368]:
autos['odometer'] = autos['odometer'].str.replace('km' , '').str.replace(',', ' ').str.replace(',', ' ')

dtypes = autos.dtypes

Use DataFrame.rename() to rename the column to odometer_km.

In [369]:
autos.rename({'odometer':'odometer_km'}, axis =1 , inplace = True)

Let's continue exploring the data, specifically looking for data that doesn't look right. We'll start by analyzing the odometer_km and price columns
   * Analyze the columns using minimum and maximum values and look for any values that look unrealistically high or low (outliers) that we might want to remove.
   * We'll use:
     * Series.unique().shape to see how many unique values
     * Series.describe() to view min/max/median/mean etc
     * Series.value_counts(), with some variations:
        * chained to .head() if there are lots of values.
        * Because Series.value_counts() returns a series, we can use Series.sort_index() with ascending= True or False to view the highest and lowest values with their counts (can also chain to head() here).
     * When removing outliers, we can do df[(df["col"] >= x ) & (df["col"] <= y )], but it's more readable to use df[df["col"].between(x,y)]

In [370]:
dtypes

date_crawled          object
name                  object
seller                object
offer_type            object
price                 object
abtest                object
vehicleType           object
registration_year      int64
gearbox               object
powerPS                int64
model                 object
odometer              object
registration_month     int64
fuelType              object
brand                 object
unrepaired_damage     object
ad_created            object
nrOfPictures           int64
postalCode             int64
last_seen             object
dtype: object

In [371]:
print(autos['price'])
print(autos['odometer_km'])

0         5 000
1         8 500
2         8 990
3         4 350
4         1 350
          ...
49995    24 900
49996     1 980
49997    13 200
49998    22 900
49999     1 250
Name: price, Length: 50000, dtype: object
0        150 000
1        150 000
2         70 000
3         70 000
4        150 000
          ...
49995    100 000
49996    150 000
49997      5 000
49998     40 000
49999    150 000
Name: odometer_km, Length: 50000, dtype: object

In [372]:
unique_odometer = autos['odometer_km'].unique()
print(unique_odometer)

['150 000' '70 000' '50 000' '80 000' '10 000' '30 000' '125 000' '90 000'
 '20 000' '60 000' '5 000' '100 000' '40 000']

In [373]:
autos['odometer_km'].value_counts().sort_index(ascending=False)

90 000      1757
80 000      1436
70 000      1230
60 000      1164
50 000      1027
5 000        967
40 000       819
30 000       789
20 000       784
150 000    32424
125 000     5170
100 000     2169
10 000       264
Name: odometer_km, dtype: int64

In [374]:
 autos.describe()

,registration_year,powerPS,registration_month,nrOfPictures,postalCode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [375]:
unique_price = autos['price'].describe()
print(unique_price)

count     50000
unique     2357
top           0
freq       1421
Name: price, dtype: object

In [376]:
unique_odometer = autos['odometer_km'].describe()
print(unique_odometer)

count       50000
unique         13
top       150 000
freq        32424
Name: odometer_km, dtype: object

In [377]:
autos['model'].value_counts()

golf          4024
andere        3528
3er           2761
polo          1757
corsa         1735
              ...
kalina           2
rangerover       1
i3               1
200              1
b_max            1
Name: model, Length: 245, dtype: int64

In [378]:
autos['price'].value_counts()

0         1421
500        781
1 500      734
2 500      643
1 200      639
          ...
2 134        1
5 949        1
10 949       1
69 500       1
3 119        1
Name: price, Length: 2357, dtype: int64

In [379]:
autos['brand'].describe()

count          50000
unique            40
top       volkswagen
freq           10687
Name: brand, dtype: object

In [380]:
autos_min = autos['price'].min
autos_max = autos['price'].max

In [381]:
autos['price'].unique().shape
autos['price'].describe()
autos['price'].value_counts()
autos['price'].sort_index(ascending = True).head()

0    5 000
1    8 500
2    8 990
3    4 350
4    1 350
Name: price, dtype: object

In [383]:
#autos = autos[autos['price'].between(1,1000000)]

In [ ]:
brand = autos['brand']
brand_type = type(brand)
#print(brand)
#print(brand_type)

In [ ]:
unique_brand = autos['brand'].unique()
print(unique_brand)

In [ ]:
autos['brand_manufacturer'] = (autos['brand'].str.split().str[0])
brand_manufacturer_count = autos['brand_manufacturer'].value_counts()
#print(brand_manufacturer_count)
print(autos['name'].value_counts())

In [ ]:
print(autos.isnull().sum())

In [ ]:
autos_no_nulls_rows = autos.dropna()
autos_no_nulls_cols = autos.dropna(axis = 1 )
#print('autos_no_nulls_rows')
autos

In [ ]:
print(autos['vehicleType'].value_counts(dropna = False))

In [ ]:
print(autos['gearbox'].value_counts(dropna = False))

In [ ]:
print(autos['model'].value_counts(dropna = False))

In [ ]:
print(autos['fuelType'].value_counts(dropna = False))

In [ ]:
autos[['date_crawled', 'ad_created','last_seen']][0:5]

In [ ]:
print(autos['unrepaired_damage'].value_counts(dropna = False))

In [ ]:
print(autos['date_crawled'].str[:10])

In [ ]:
#print(autos['registration_year'])
autos['registration_year'].value_counts()

Use Series.describe() to understand the distribution of registration_year.

In [ ]:
autos['registration_year'].describe(include = 'all')

In [ ]:
autos['registration_year'].unique()

The year in which the car was first registered its average of 2005
The values 1000 and 9999 are not consistent

Let's count the number of listings with cars that fall outside the 1900 - 2016 interval and see if it's safe to remove those rows entirely, or if we need more custom logic.

* Decide which the highest and lowest acceptable values are for the registration_year column.
  
  * Write a markdown cell explaining your decision and why.
  
* Remove the values outside those upper and lower bounds and calculate the distribution of the remaining values using Series.value_counts(normalize=True).

  * Write a markdown cell explaining your observations.

In [ ]:
#ad_registration = (autos['registration_year'] >1900) & (autos['registration_year'] <2016)
#ad_registration

In [ ]:
selected_rows = (autos[autos['registration_year']== 9999]) 
selected_rows